@page "/user"
@page "/user/{id:int}"
@inject IUserServices UserService
@inject NavigationManager NavigationManager
<PageTitle>UserGuide</PageTitle>

@if (Id==null){
    <PageTitle>UserGuide</PageTitle>
    <div class=" ">
        <h3 class="MyH3_1 text-center">Добавление  нового пользователя</h3>
    </div>
  
}
else
{
    <div class="">
        <h3 class="MyH3_1 text-center">Изменение данных пользователя </h3>
    </div>
}

<EditForm Model="user" OnValidSubmit="HandleSubmit">
    <DataAnnotationsValidator />
    <div class="col-lg-6 offset-3 ">
        <div class="form-group row m-md-3 ">
            <div class="col-2">
                <label class="mylebel" for="lastname">Фамилия</label>
            </div>
            <div class="col-10 ">
                <InputText id="lastname" placeholder="Введите Фамилию" @bind-Value="user.LastName" class="form-control"></InputText>
            <ValidationMessage For="@(() => user.LastName)" />
            </div>
            </div>
        <div class="form-group row m-md-3 ">
            <div class="col-2">
                <label class="mylebel" for="firstname">Имя</label>
            </div>
            <div class="col-10">
                <InputText id="firstname" placeholder="Введите Имя" @bind-Value="user.FirstName" class="form-control"></InputText>
            <ValidationMessage For="@(() => user.FirstName)" />
            </div>
        </div >
        <div class="form-group row m-md-3">
            <div class="col-2">
                <label class="mylebel"  for="patronymic">Отчество</label>
            </div>
            <div class="col-10">
                <InputText id="patronymic" placeholder="Введите отчество" @bind-Value="user.Patronymic" class="form-control"></InputText>
            </div>
        </div>
        <div class="form-group row m-md-3 ">
            <div class="col-2  ">
                <label class="mylebel" for="login">Домен\Логин</label>
            </div>
            <div class="col-10">
                <InputText id="login" placeholder="Введите в формате доменное имя\логин" @bind-Value="user.UserLogin" class="form-control"></InputText>
            <ValidationMessage For="@(() => user.UserLogin)" />
            </div>
        </div>

        <div class="form-group row offset-sm-1 ">
            
                <button type="submit" class="btn btn-primary col-5 p-2 mx-lg-2">@btnText</button>


            <button class="btn btn-success col-5 p-2 me-2" @onclick="()=>{ShowUsers();} ">
                <i class="oi oi-arrow-thick-right"></i> Назад
            </button>
    
        </div>
    </div>
    
   
   
@*    <ValidationSummary />*@
</EditForm>




@code {
    [Parameter]
    public int? Id  { get; set; }
    UserData user = new UserData();
    string btnText = string.Empty;

  
    protected override async Task OnInitializedAsync()
    {
        if (Id==null){
            btnText = "Создать";
        }else
        {
            btnText = "Изменить";
            user = await UserService.GetSingleUser((int)Id);
        }
    }
    async Task HandleSubmit()
    {
        if (Id == null){
            user.UserEnable = true;
           // if (user.Patronymic == null) user.Patronymic = String.Empty;
            await UserService.CreateUser(user);
        } else{
            await UserService.UpdateUser(user);
        }
    }
    void ShowUsers()
    {
        NavigationManager.NavigateTo("/");
    }

}
